{{#projects}}
    <div class="card-container" id={{index}} onload="fadeIn(this)">
        <a href={{hash}}>
            <div class="card"> 
                <img src={{image}} alt={{image_alt}} class="card-image">
                <div class="card-title"> {{title}} </div>
                <div class="card-description"> {{card-description}} </div>
            </div>
        </a>
    </div>
{{/projects}}