{{#projects}}
    <div class="card" onload="fadeIn(this)"> 
        <img src={{image}} alt={{image_alt}} class="card-image">
        <div class="card-title"> {{title}} </div>
        <div class="card-description"> {{card-description}} </div>
    </div>
{{/projects}}