:root {
    --background: #FFF3E1;
    --primary: #4F38DF;
    --secondary: #DAAAF6;
    --gray: #979797;
  }

html, body {
    margin:0;
    width:100%;
    height: fit-content;
    background-color: var(--background);
    font-family: "Yaldevi";
    font-weight: 300;
}

a{
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: var(--secondary);
}

#header{
    font-family: "Sen";
    font-size:48px;
    margin: 40px 0px 0px 70px;
}

#header a:visited {
    color: var(--primary);
}

#cards{

}

.card-container{
   background-color: red;
   position: absolute;
   margin: 30px 0 0 30px;
   transition: margin-left 0.5s ease-in-out, margin-top 0.5s ease-in-out, opacity 0.25s;
}

.card{
    width: 400px;
    height: 525px;
    background-color: white;
    color: black;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 0px var(--secondary);
}

.card:hover {
    box-shadow: 8px 8px var(--secondary);
}

.card-description{
    margin: 0 15px 15px 15px;
    font-size: 17px;
}

.card-title{
    margin: 15px 15px 7px 15px;
    font-size: 28px;
    font-family: "Sen";
}

.card-image{
    width: 370px;
    height: 370px;
    object-fit: cover;
    margin: 15px 15px 0 15px;
}

.bar{
    width: 40%;
    align-items: center;
    background-color: var(--primary);
}

#project{
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    text-shadow: -4px 4px var(--secondary);
    margin-bottom: 10px;
    font-family: "Sen";
}

#project-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}

#description {
    padding: 0 0 0 0px;
    font-size: 36px;
}

#description a{
    color: var(--primary);
}

#description a:hover{
    color: var(--secondary);
}

#image{
    width: 25%;
    opacity: 0;
    transition: opacity 1s;
    filter: drop-shadow(25px 25px var(--secondary))
}

#back-button{
    font-family: "Bitter";
    color: var(--gray);
    font-size: 36;
    margin: 0 0 0 70px;
}

#back-button a:hover{
    text-decoration: underline;
    color: var(--gray);
}

#back-button a:visited{
    color: var(--gray);
}