
<div id="back-button"><a href>back << </a> </div>
<div id="title">{{title}}</div>

<hr class="bar">

<div id = "project-body">

<div id="description"> {{{description}}} </div>

<img src={{image}} alt={{image_alt}} onload="fadeIn(this)" id="image">

</div>